@import '../../../scss/lib/mediaqueries';

/* examples/custom-styling.css */
.customOverlay {
    background: rgba(0, 22, 5, 0.7);
}

.customModal {
    border-radius: 12px;
    border: 3px solid #000;
    background: #d8ffe5;
    width: 90%;
    height: 100%;
    margin-top: 10rem;
    margin-bottom: 10rem;
    @include tablet {
        margin-top: 20rem;
        max-width: 600px;
    }
}

.buonaTest {
    width: 100%;
    height: 100%;
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.buonaTest__container {
    width: 90%;
    margin: 0 auto;
    @include tablet {
        width: 60%;
    }
}

.buona__form {
    display: flex;
    flex-direction: column;
    gap: .8rem;
    background-color: #111;
    box-shadow: 5px 5px 15px #000;
    padding: 2rem;
    padding-top: 3rem;
    border-radius: 4px;
    & input,
    & select {
        padding: 1rem .4rem;
        margin-bottom: .4rem;
        border-bottom: 2px solid #cd0048;
        outline: none;
        border-radius: 2px;
        box-shadow: 0px 2px 5px #000;
    }
   
   
}

.form__actions {
    display: grid;
    grid-template-columns: 1fr;
    gap: .4rem;
    @include tablet {
        grid-template-columns: .5fr 1fr;
    }
}

.btnForm {
    padding: .8rem 2rem;
    border: none;
    outline: none;
    border-radius: 4px;
    background-color: #cd0048;
    color: #FFF;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    transition: all .2s ease;
}

.btnForm:hover {
    opacity: .9;
}

.title {
    font-size: 2.8rem;
    text-transform: uppercase;
    margin-top: 2rem;
    margin-bottom: .4rem;
    font-style: italic;
    color: #111;
}

.box {
    display: flex;
    flex-direction: column;
    gap: .4rem;
}

.label {
    color: #FFF;
    font-weight: bold;
    & span {
        color: #ff0044;
    }
}

.modal {
    height: 100%;
    padding: 1rem;
    text-align: center;
}