
// Product Slider
.btn-gallery {
    width: 100%;
    outline: none;
    padding: 0.34rem 0.6rem;
    background-color: black;
    border-radius: 5px;
    color: #fff;
    letter-spacing: 1px;
    cursor: pointer;
}

.link-green {
    color: green;
    font-size: 1.2rem;
    font-weight: 400;
    margin: .6rem 0;
    text-align: center;
}