.product {
    position: relative;
    width: 100%;
    height: 100%;
    box-shadow: 3px 5px 10px #bebebe, -5px -5px 10px #ffffff;
    background-color: rgb(13, 15, 16);
    background: linear-gradient(90deg, rgb(23, 26, 28) 0%, rgb(28, 30, 33) 44%, rgb(29, 32, 35) 57%, rgb(12, 13, 14) 100%);
  }

  .product__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: .4rem;
    gap: 1rem;
  }

  .product__image {
    width: 100%;
    cursor: pointer;
    height: 280px;
    &:hover {
      opacity: .6;
    }
  }
  
  .product__markPrice {
    position: absolute;
    background-color: #000;
    color: #FFF;
    padding: .4rem .8rem;
    border-radius: 0 0 0 14px;
    top: 0;
    right: 0;
  }

  .product__categoria {
    color:#FFF;
    font-size: .9rem;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
  }

  .product__text {
    color: #FFF;
    font-size: .8rem;
  }