@import '../../../scss/lib/mediaqueries';

  .category {
    width: 100%;
    position: relative;
    height: 100%;
  }
  
  .category__container {
    width: 94%;
    margin: 0 auto;
  }
  
  .category__title {
    width: 100%;
    text-align: center;
    margin: 2rem 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: .8rem;
  }
  
  .category__containerFlex {
    // display: grid;
    display: flex;
    flex-direction: column;
    gap: 20px;
    @include respond-to( 500px ) {
      flex-direction: row;
    }
    // grid-template-columns: 1fr;
    // @include respond-to( 500px ) {
    //     grid-template-columns: 1fr 2fr;
    // }
    
  }

  .category__containerFlexLineOne {
    position: relative;
    height: 100%;
    box-shadow: 5px 5px 10px #bebebe,-5px -5px 10px #ffffff;
    padding: 2rem 1rem;
    background-color: rgb(13, 15, 16);
    background: linear-gradient(90deg, rgb(23, 26, 28) 0%, rgb(28, 30, 33) 44%, rgb(29, 32, 35) 57%, rgb(12, 13, 14) 100%);
  }

  .category__containerFlexLineTwo {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    margin-bottom: 1rem;
    @include respond-to( 680px ) {
        grid-template-columns: repeat(2, 1fr);
    }

    @include desktop {
        grid-template-columns: repeat(3, 1fr);

    }
   
  }

  .category__selector {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .category__contentFlex {
    color: #B5B5B5;
  }

  .category__option {
    margin: 1rem 0;
    cursor: pointer;
    font-size: 1.2rem;
    font-style: italic;
    &:hover {
        color: #FFF;
    }
  }

  .category__option_active {
    color: #FFF;
  }

  .detail__title {
    font-size: 2.4rem;
    color: #e4e3e3;
    font-weight: bold;
  }

  .detail__price {
    font-size: 1.8rem;
    margin-bottom: 1rem;
    text-align: left;
    font-weight: 700;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    font-style: italic;
  }

  .input_range {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 180px;
    margin-top: 40px;
    margin-bottom: 40px;

    @include respond-to( 580px ) {
      max-width: 300px;
    }
  }