  @import '../../../scss/lib/mediaqueries';
  
  .home {
    width: 100%;
    position: relative;
    height: 100%;
  }

  .home__banner {
    width: 100%;
    height: 100%;
    @include desktop {
      height: 80vh;
    }
    position: relative;
    object-fit: cover;
  }

  .home__container {
    width: 94%;
    margin: 6rem auto;
    display: grid;
    gap: 2rem;


    @include respond-to( 640px ) {
      grid-template-columns: 2fr 2fr;
    }
    
  }

  .home__content {
    width: 100%;
  }
  
  .home__images {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(1, 1fr);
    @include tablet {
      grid-template-columns: repeat(2, 1fr);
    }
   
    & img {
      width: 100%;
      height: 100%;
      @include tablet {
        height: 400px;
      }
      @include desktop {
        height: 100%;
      }
    }
  }
  
  .home__imageOne {
    position: relative;
    width: auto;
    @include tablet {
      width: 100%;
      border-radius: 10px 0 10px 10px;
    }
  }
  
  .home__imageTwo {
    position: relative;
    width: auto;
    top: -40px;
    display: none;
    
    @include tablet {
      display: block;
      border-radius: 10px 10px 10px 0;
    }
   
  }
  
  .home__titlePrincipal {
    color: #5C5C5C;
    font-size: 2.8rem;
    font-weight: 750;
    font-style: italic;
    margin-bottom: .6rem;
    margin-top: 2rem;
  }

  .home__text {
    color: #333;
    font-weight: 540;
    letter-spacing: .6px;
    line-height: 30px;
    font-size: 1.5rem;
    @include tablet {

    }
  }

  // CATEGORY__WORKOUT
  .category__workout {
    display: flex;
    flex-direction: column;
    background-color: #000;
    padding-bottom: 2rem;
  }

  .category__workoutFilter {
    display: grid;
    margin-top: 2rem;
    justify-content: center;
    grid-template-columns: repeat( 2, 1fr );
    
  }

  .category__workoutBox {
    position: relative;
    width: 100%;
    height: 100px;
    @include respond-to( 640px ) {
      height: 200px;
    }
  }
  
  .category__workoutImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
    transition: all .3s ease-in;
    &:hover {
      opacity: .6;
    } 
  }
  
  .category__workoutContentImage {
    position: relative;
    width: 100%;
    height: 50vh;
    @include desktop {
      height: 70vh;
    }
  }

  .category__workoutSpan {
    position: absolute;
    font-size: 2.4rem;
    font-weight: 700;
    color: #FFF;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    text-transform: uppercase;
    text-align: center;
  }

  .category__workoutSpanTwo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY( -50% );
    transform: translateX( -50% );
    color: #FFF;
    font-size: 1.4rem;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    @include desktop {
      font-size: 1.8rem;
    }
  }