@import '../../../../scss/lib/mediaqueries';

// Workout Filters
.category__workoutFilter {
    width: 100%;
    // background-color: #000;
    height: 240px;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, 1fr);
    @include respond-to( 440px ) {
      grid-template-columns: repeat(auto-fill, 200px);
    }
    
  }

  .category__workoutPathBox {
    width: 100%;
    height: 100%;
    background-color: #FFF;
    z-index: 1000;
  }

  .category__workoutImagePath {
    width: 100%;
    height: 100%;
    background-color: #000;
    cursor: pointer;
    transition: all .3s ease-in;
    left: 0;
    &:hover {
      transform: scale(1.1);
      opacity: .6;
    }

    // [theme.breakpoints.down("sm")]: {
    //   position: "relative;
    //   clip-path: "none;
    //   margin: "0;
    //   padding: "0;
    // }
  }